#size1 {
    margin-top: 10%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.content {
    
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(14, 1fr);
            grid-gap: 10px;
            grid-template-areas:
               
                "Feedback Feedback Feedback Feedback"
                ". . . ."
                "Park-name Park-name Park-name ."
                "Park-name Park-name Park-name ."
                ". . . ."
                "Overview Overview Overview ."
                "Overview Overview Overview ."
                "Overview Overview Overview ."
                ". . . ."
                "Riview Riview Riview ."
                "Riview Riview Riview ."
                "Riview Riview Riview ."
                "Riview Riview Riview ."
                "next next next next";

        }

        
        .Feedback {
            grid-area: Feedback;
            
        }

        .Park-name {
            grid-area: Park-name;
        }

        .Overview {
            grid-area: Overview;
        }

        .Riview {
            grid-area: Riview;
        }

        .next {
            grid-area: next;
            text-align: right;
        }

       
       

        #coffee {
           
        }

        #home {
            
        }

        .font2 {
            color: white;
            font-size: 20px;
        }

        .font3 {
            color: white;
        }

        .font4 {
            color: white;
        }

        .font5 {
            color: white;
        }

        .font6 {
            color: white;
        }

        .input1 {
            height: 20px;
            width: 220px;
            margin-left: 3px;
            margin-top: 2px;
        }

        .input2 {
            height: 50px;
            width: 220px;
            margin-left: 3px;
            margin-top: 2px;
        }

        .input3 {
            width: 220px;
        }

        .input4 {
            width: 220px;
        }

        .input5 {
            width: 220px;
        }

        .input6 {
            width: 220px;
        }
