#size1 {
    margin-top: 10%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    
}

.content {


    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    grid-template-areas:

        "Feedback Feedback Feedback Feedback"
        ". . . ."
        "Park-name Park-name Park-name ."
        ". . . ."
        "Overview Overview Overview ."
        "Overview Overview Overview ."
        ". . . ."
        "Riview Riview Riview ."
        "Riview Riview Riview ."
        "Riview Riview Riview ."
        "Riview Riview Riview ."
        "next next next next";

}


.Feedback {
    grid-area: Feedback;

}

.Park-name {
    grid-area: Park-name;
}

.Overview {
    grid-area: Overview;
}

.Riview {
    grid-area: Riview;
}

.next {
    grid-area: next;
    text-align: right;
}




#coffee {}

#home {}

.font2 {
    color: white;
    font-size: 20px;
}

.font3 {
    color: white;
}

.font4 {
    color: white;
}

.font5 {
    color: white;
}

.font6 {
    color: white;
}

#input {
    width: 60%;
    height: 100px;
}

#submit {
    color: #fff;
    background-color: #64a19d;
    border-color: #64a19d;
}

#next-button {
    color: #fff;
    background-color: #64a19d;
    border-color: #64a19d;
}
